body {
  background-color: #dbeafe;
}

img {
  width: 110%;
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 2%);
  margin: 0 auto;
  pointer-events: none;
}

@media only screen and (min-width: 800px) {
  img {
    width: 45%;
  }
}
